.App {
  text-align: center;
}


.popup {
  display: flex;
  align-items: center;
  margin-left: 225px;
}
#formStyle {
  background-color: lightblue;
  display : flex;
  flex-wrap: wrap;
  flex-direction : row;
  text-align: left;
  justify-content : space-between;
  width : 400px;
  height : 410px;
  font-weight: bold;
  outline : solid 5px #0095ff;
  padding : 25px;
  color: #0095ff;
  border-radius: 40px;
  align-items: flex-start;
}

#formStyle input{
  display: inline;
  padding-right: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
  border: 2px solid #0095ff;
  border-radius: 5px;
}

#submit {
  font-weight: bolder;
  font-size: larger;
}

#tableContainer {
  display: grid;
  flex-direction: column;
}

#tableContainer thead td {
  font-size: larger;
  font-weight: bolder;
  background-color: lightblue;
  border: 3px solid #0095ff;
  padding: 10px;
}

#tableContainer table{
  border-collapse: collapse;
  padding: 5px;
}

#tableContainer tbody td{
  border-collapse: collapse;
  border: 3px solid #0095ff;
  padding: 10px;
}

#editButtons button{
  margin: 5px;
  padding: 5px;
}

/* App.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure it appears above other content */
  backdrop-filter: blur(5px); /* Apply blur effect to the background */
}


/* CSS for Buttons */
.buttons {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 50px;
  outline: none;
  padding: 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.buttons:hover,
.buttons:focus {
  background-color: rgb(54, 146, 211);
}

.buttons:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.buttons:active {
  background-color: #0064bd;
  box-shadow: none;
}


#form-close {
  border-radius: 10px; 
  border-color: #0095ff;
  background-color: lightblue;
  color: #0095ff;
  left       : 50%;
  top        : 50%;
  margin-top : -220px;
  margin-left: 185px;
  position   : absolute;
}

#form-close:hover{
  border-color: lightblue;
  background-color: #0095ff;
  color: lightblue;
}


#sort-button {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  margin-left: 5px;
}

#sort-button:hover,
#sort-button:focus {
  background-color: lightblue;
  border-color: #0095ff;
  color: #0095ff;
}

#sort-button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

#sort-button:active {
  background-color: #0064bd;
  box-shadow: none;
}

.error {
  margin: 5px;
  font-size: 10px;
  font-weight: 100;
  color: red;
  border-color: red;
  font-family: 'Young Serif', serif;
}

.navbar {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-buttons {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  padding: 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.navbar-buttons:hover {
  text-decoration: underline;
}

.git-click {
  /* position: relative;  */
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: white;
  transition: .5s;
}

.git-click::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: white;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.git-click:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px white;
  color: white;
}

.git-click:hover {
  color: white;
  box-shadow: 0 0 5px white;
  text-shadow: 0 0 5px white;
}


.ul_git {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.li_git {
  list-style: none;
  margin: 0 15px;
}

.size_git{
  margin-top: 10px;
  font-size: 40px;
  cursor: pointer;
}

.git-click :link :hover
{
   color: white;
   text-decoration: none;
}

a.git-click:hover
{
   color: white;
   text-decoration: none;
}